body {
    font-family: 'Arial', sans-serif;
    height: 100%;
}

.sidebar-item {
    padding: 10px;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #f8f9fa;
}

.active-link {
    border-radius: 50%;

}

.page-link {
    border: none;
    /* Removes the border around the numbers */
    background-color: transparent;
    /* Makes the background transparent */
    color: #000;
    /* Optional: change the text color */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 14px;
}

.page-link.active-link {
    font-weight: bold;
    /* Optional: makes the active page bold */
    background-color: #007bff;
    /* Optional: set background color for active page */
    color: #fff;
    width: 40px;
    height: 40px;
}

.page-item.active .page-link {
    background-color: #007bff;
    /* Active page background */
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Optionally add some rounding for better appearance */
}

.page-link:hover {
    background-color: #e9ecef;
    /* Optional: hover effect for the links */
}

.page-item {
    width: 40px;
    height: 40px;
}