.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.title {
    color: var(--text-50);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.titleNext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDs {
    color: var(--text-100);
    font-size: .875rem;
    font-weight: 500;
    line-height: 24px;
}

.main {
    margin-top: 12px;
    height: 100%;
    overflow-y: auto;
}

.listItem__title {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--gray-100);

    &:hover {
        background-color: var(--blue-95);
    }
}

.listItem__titleText {
    color: var(--text-100);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.listItem__contentCount {
    margin-right: 4px;
}

.listItem__totalDuration {
    margin-left: 4px;
}

.listItem__contentCount,
.listItem__totalDuration {
    color: var(--text-75);
    font-size: .875rem;
    font-weight: 400;
    display: inline;
}

.rotated {
    rotate: 180deg;
}


.listItem__docs {
    padding: 8px 0px;
}

.listItem__doc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;

    &:hover {
        background-color: var(--blue-95);
    }
}

.listItemDoc {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 0px;
}

.listItem__docTitle {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
}

.listItem__docIndex {
    margin-bottom: 4px;
}

/* cta */

.bottomCTA {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* Form đặt câu hỏi */

.inputtTitle {

    padding: 8px 10px;
    border-radius: 909px;
    outline: none;
    border: 1px solid transparent;
    background: var(--gray-95);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);

    display: flex;

    &:focus {
        outline: 1px solid var(--blue-50);
    }
}


.ck-editor__editable {
    width: 100%;
    background-color: var(--gray-100);

    border: 1px solid var(--gray-60);

    font-size: 1rem;
    color: var(--text-0);
}


.ck-toolbar {
    width: 100%;
    background-color: var(--blue-50);


}

.ck-button {
    color: var(--text-0);

}

.ck-button:hover {
    background-color: var(--blue-50);

}


.ck {
    width: 100%;
    border: 1px solid var(--gray-60);
    height: 200px;
    border-radius: 4px;
    min-height: 200px;
}

/* editorWrapper */

.editorWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cta {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;

}