.container {
    width: 100%;
    max-width: 1400px;
    height: auto;
    min-height: 600px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 80px 40px;
}

.main {
    width: 100%;
    max-width: 1200px;
    height: auto;
    max-height: 764px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 32px;
        flex-direction: column-reverse;
    }

    .container {
        padding: 40px 16px;
    }


}