 .container {
    min-height: 1200px;
    margin-top: 0 auto;


 }

 .title {
    text-align: center;
    color: var(--text-100);
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2rem;
    position: relative;
 }

 .title::before {
    content: "";
    display: inline-block;
    background-image: url("/img/GroupLeft.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95px;
    height: 86px;
 }

 .Wapper {
   margin-top: 32px;
 }

 .itemList {}

 .image {
   width: 240px;
   height: 144px;
   object-fit: cover;
   border-radius: 12px;
 }

 .descImg {}