@import url('../root.css');

.container {
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    color: var(--primary);
    letter-spacing: -0.68px;
}

.bodyConatiner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bodyContainer__left {
    max-width: 726px;
    gap: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.menu__icon {
    margin-top: 4px;
    width: 24px;
    height: 24px;
    object-fit: scale-down;
}

.menu__content {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: auto;
    height: auto;
    color: #000;
}

.menu__content__b {
    width: auto;
    height: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--default);
}

.bodyContainer__right {
    max-width: 306px;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 12px;
}

.bodyContainer__right__img{
    width: 306px;
    height: 306px;
}