@import url('../root.css');

.skillContainer {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    flex-direction: row;
}

.skillMain {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.skill__header__title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.header__title {
    margin: 0;
    padding: 0;
    color: var(--primary);
    display: flex;
    width: auto;
    height: auto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.68px;
    align-items: center;
}

.header__subTitle {
    margin: 0;
    padding: 0;
    color: var(--text-75);
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.imgHeader {
    width: 288px;
    height: 221px;
    object-fit: scale-down;
}

.skill__body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skill__body__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.body__title {
    margin: 0;
    padding: 0;
    color: var(--primary);
    display: flex;
    width: auto;
    height: auto;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.68px;
    align-items: center;
}

.body__subTitle {
    margin: 0;
    padding: 0;
    color: var(--text-75);
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.body__main {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 46px;
}

.box {
    margin: 0;
    padding: 0;
    border-radius: 12px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border: 1px solid var(--blue-30);
}

.box__icon {
    width: 24px;
    height: 24px;
    border: 0;
    margin: 0;
    padding: 0;
}

.box__body {
    width: 100%;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__title {
    width: auto;
    height: auto;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}

.demoImg{
    width: 100%;
    height: auto;
    object-fit: scale-down;
}