  :root {
    --header-height: 58px;
    --left-body: 32px;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* header nav bar start  */

  .header-nav {
    border-left: 0;
    border-right: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 100000000px;
    max-height: calc(58px + (8px*2));
    padding: 8px 16px;
    display: flex;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.24);
    background-color: white !important;
  }

  .container-header {
    padding: 0;
    height: 58px;
    background-color: white;
  }

  .navbar-custom {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .btn-header {
    width: calc((120px * 2) + 32px);
    display: flex;
    gap: 32px;
  }

  .navbar-link {
    padding: 0px !important;
  }

  .btn-navbar {
    min-width: 120px;
    height: 40px;
    padding: 8px 16px;
    background-color: white;
    color: #237DF7;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-navbar:hover {
    padding: 6px 14px;
    background-color: white;
    color: #237DF7;
    border: 2px solid #237DF7;
  }

  .search-bar {
    box-sizing: border-box;
    width: 400px;
    height: 32px;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 50px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
  }

  .search-bar .form-control {
    padding: 0 !important;
    border: none;
    box-shadow: none;
    font-size: 10px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
  }

  .form-control::placeholder {
    color: rgba(153, 153, 153, 1);
    font-size: 10px;
    line-height: 16px;
  }  
  
  .search-bar .btn {
    background: none;
    border: none;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar .btn:hover,
  .search-bar .btn:active,
  .search-bar .btn:focus {
    background-color: white !important;
    color: black !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-search-icon{
    width: 12px;
    height: 12px;
  }

  /* header nav bar end  */

  /* left slide bar start  */

  .slider-bar {
    width: 170px;
    max-width: 170px;
    height: 946px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 12px;
    justify-content: space-between;
  }

  .slide-bar-categories {
    height: 584px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 170px;
  }

  .btn-slide-bar {
    width: 170px;
    height: 44px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid var(--Gray-gray-90, rgba(242, 242, 242, 1));
    text-decoration: none;
    align-items: center;
    background-color: white;
  }

  .btn-slide-bar img {
    width: 24px;
    height: 24px;
  }

  .btn-slide-bar div {
    width: 100%;
    height: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(153, 153, 153, 1);
  }

  .slide-bar-title {
    font-size: 14px;
  }

  .main-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0px 32px;
  }

  .home {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 12px;
    border: 2px solid rgba(35, 125, 247, 1);
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .btn-slide-bar .block {
    display: block;
  }

  .btn-slide-bar .none {
    display: none;
  }

  .btn-slide-bar:hover{
    background-color: rgba(35, 125, 247, 1);
  }

  .btn-slide-bar:active{
    background-color: rgb(3, 76, 179);

  }

  .btn-slide-bar:hover .block,
  .btn-slide-bar:active .block{
    display: none;
  }

  .btn-slide-bar:hover .none,
  .btn-slide-bar:active .none {
    display: block;
  }

  .btn-slide-bar:hover div,
  .btn-slide-bar:active div {
    color: white;
  }

  /* left slide bar end  */

  /* main content start  */

  .main-content {
    position: relative;
    top: 0;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* main content end  */

  /* slide bar right css  start*/

  .right-slide-bar-container {
    max-width: 375px;
    height: auto;
    width: auto;
    position: relative;
    top: 1px;
    right: 1px;
  }

  .right-slider-bar {
    height: auto;
    position: sticky;
    top: 0;
    right: 0;
    width: 374px;
    max-width: 374px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .group-section {
    background-color: white;
    width: 374px;
    border-radius: 16px;
    padding: 10px 0px;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 8px 16px 0px rgba(96, 97, 112, 0.16);
  }

  .group-section-main {
    width: 374px;
    height: 288px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .group-section-main::-webkit-scrollbar {
    width: 5px;
    max-height: 100px;
  }

  .group-section-main::-webkit-scrollbar-track {
    background-color: white;
  }

  .group-section-main::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 12px;
  }

  .group-section-main::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
  }

  .group-section .header-slide-bar-right {
    height: 32px;
    padding: 0px 20px;
  }

  .group-section .header-slide-bar-right h4 {
    margin: 0;
    color: black;
  }

  .group-section .d-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .group-title {
    width: 104px;
    height: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
  }

  .group-title h4 {
    padding: 0;
    margin: 0;
    width: 68px;
    max-width: 68px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  .group-title2 {
    width: 158px;
    height: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
  }

  .group-title2 h4 {
    padding: 0;
    margin: 0;
    width: 122px;
    height: 32px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }

  .peopleFill {
    width: 24px;
    max-width: 24px;
    height: 24px;
  }

  .see-all-link {
    width: 90px;
    height: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .see-all-link div {
    width: 74px;
    height: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .green {
    color: rgba(36, 161, 72, 1);
  }

  .light-blue {
    color: rgba(21, 200, 224, 1);
  }

  .blue {
    color: rgba(67, 143, 247, 1);
  }

  .see-all-link img {
    width: 16px;
    height: 16px;
  }

  .group-item {
    width: 360px;
    height: 88px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16);
  }

  .avatar-slide-right-bar {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #24A148;
    padding: 2.4px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-slide-right-bar .avatar-container {
    background-color: #24A148;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .icon-avatar-container {
    color: white;
    width: 36px;
  }

  .icon-avatar-container2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }


  .nav-link {
    width: 264px;
    height: 44px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
  }

  .nav-link div {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
  }

  .nav-link small {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .group-item small .mess-content-slide-bar {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    margin-left: 3px;
  }

  .head-event {
    width: 264px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .head-event div {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .head-event-name {
    max-width: 150px;
    display: flex;
  }

  .head-event-teacher {
    max-width: 84px;
    display: flex;
  }

  .fill {
    color: rgba(102, 102, 102, 1);
  }

  .main-event {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-muted2 {
    width: 98px;
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
  }

  .text-muted2 img {
    width: 14px;
    height: 14px;
  }

  .on {
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: rgba(99, 162, 247, 1);
    display: flex;
  }

  .off {
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: 20%;
    display: flex;
  }

  .nav-link2 {
    width: 266px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
  }

  .name-post {
    width: 266px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-post {
    width: 266px !important;
    height: 48px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .avatar-slide-right-bar2 {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid rgba(99, 162, 247, 1);
    padding: 2.4px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-slide-right-bar2 .avatar-container {
    background-color: rgba(99, 162, 247, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  /* slide bar right css  end*/

  /* footer start  */

  footer {
    width: 100%;
    height: 496px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding: 80px 32px;
    flex-direction: column;
    gap: 32px;
  }

  .footer-header {
    width: 1344px;
    height: 218px;
    display: flex;
    justify-content: space-between;
  }

  .footer-profile-left {
    width: 330px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .box-logo {
    width: 224px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .box-logo img {
    width: 162px;
    height: 58px;
  }

  .box-logo p {
    width: 224px;
    height: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .box-logo-content {
    width: 330px;
    height: 112px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .box-logo-content p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 24px;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .box-logo-content img {
    width: 24px;
    height: 24px;
  }

  .footer-profile-right {
    width: 773px;
    height: 195px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-about {
    width: 110px;
    height: 157px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-about h5 {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 0;
    font-weight: 600;
  }

  .list-unstyled {
    width: 110px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
  }

  .list-unstyled li {
    font-weight: 400;
    font-size: 14px;
    height: 18px;
  }

  .text-decoration-none {
    text-decoration: none;
    color: black;

  }

  .footer-support {
    width: 110px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
  }

  .footer-support h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 0;
  }

  .footer-info {
    width: 350px;
    height: 195px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-info h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 0;
  }

  .footer-content {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-content p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .footer-content p span {
    margin: 0;
    font-weight: 500;
  }

  .media-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .media-logo-link {
    margin: 0;
  }

  .media-logo-link img {
    width: 24px;
    height: 24px;
  }

  .copyright {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .copyright-content {
    width: 202px;
    height: 30px;
  }

  .copyright-content p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'DM Sans';
    color:
      rgba(111, 108, 144, 1);
  }

  .copyright-service {
    width: 417px;
    height: 24px;
  }

  .service {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(111, 108, 144, 1);
  }

  .text-blue {
    color: rgba(35, 125, 247, 1);
  }

  /* footer end */