  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

  :root {
    /* color gray start */

    --gray-00: rgba(0, 0, 0, 1);
    --gray-10: rgba(26, 26, 26, 1);
    --gray-20: rgba(51, 51, 51, 1);
    --gray-30: rgba(77, 77, 77, 1);
    --gray-40: rgba(102, 102, 102, 1);
    --gray-50: rgba(128, 128, 128, 1);
    --gray-60: rgba(153, 153, 153, 1);
    --gray-70: rgba(179, 179, 179, 1);
    --gray-80: rgba(219, 219, 219, 1);
    --gray-90: rgba(242, 242, 242, 1);
    --gray-95: rgba(250, 250, 250, 1);
    --gray-100: rgba(255, 255, 255, 1);

    /* color gray end  */

    /* color blue start  */

    --blue-05: rgba(3, 33, 74, 1);
    --blue-10: rgba(4, 50, 113, 1);
    --blue-20: rgba(6, 68, 153, 1);
    --blue-30: rgba(7, 85, 192, 1);
    --blue-40: rgba(8, 103, 231, 1);
    --blue-50: rgba(35, 125, 247, 1);
    --blue-60: rgba(73, 147, 248, 1);
    --blue-70: rgba(112, 171, 250, 1);
    --blue-80: rgba(152, 194, 251, 1);
    --blue-90: rgba(191, 217, 253, 1);
    --blue-95: rgba(230, 240, 254, 1);

    /* color blue end  */

    /* color cyan start */

    --cyan-05: rgba(4, 42, 47, 1);
    --cyan-10: rgba(6, 59, 66, 1);
    --cyan-20: rgba(12, 112, 125, 1);
    --cyan-30: rgba(21, 200, 224, 1);
    --cyan-40: rgba(69, 218, 238, 1);
    --cyan-50: rgba(119, 228, 242, 1);
    --cyan-60: rgba(160, 236, 246, 1);
    --cyan-70: rgba(194, 243, 249, 1);
    --cyan-80: rgba(221, 248, 252, 1);
    --cyan-90: rgba(240, 252, 254, 1);
    --cyan-95: rgba(251, 254, 255, 1);

    /* color cyan end */

    /* color yellow start */

    --yellow-05: rgba(77, 60, 5, 1);
    --yellow-10: rgba(113, 88, 4, 1);
    --yellow-20: rgba(153, 118, 6, 1);
    --yellow-30: rgba(192, 149, 7, 1);
    --yellow-40: rgba(231, 179, 8, 1);
    --yellow-50: rgba(247, 198, 35, 1);
    --yellow-60: rgba(248, 207, 73, 1);
    --yellow-70: rgba(250, 218, 112, 1);
    --yellow-80: rgba(251, 228, 152, 1);
    --yellow-90: rgba(253, 238, 191, 1);
    --yellow-95: rgba(254, 249, 230, 1);

    /* color yellow end */

    /* color green start */

    --green-05: rgba(3, 74, 39, 1);
    --green-10: rgba(4, 113, 60, 1);
    --green-20: rgba(6, 153, 82, 1);
    --green-30: rgba(7, 192, 103, 1);
    --green-40: rgba(8, 231, 124, 1);
    --green-50: rgba(35, 247, 145, 1);
    --green-60: rgba(73, 248, 164, 1);
    --green-70: rgba(112, 250, 183, 1);
    --green-80: rgba(152, 251, 203, 1);
    --green-90: rgba(191, 253, 223, 1);
    --green-95: rgba(230, 254, 243, 1);

    /* color green end */

    /* color red start */

    --red-05: rgba(74, 18, 3, 1);
    --red-10: rgba(113, 28, 4, 1);
    --red-20: rgba(113, 28, 4, 1);
    --red-30: rgba(192, 47, 7, 1);
    --red-40: rgba(231, 57, 8, 1);
    --red-50: rgba(247, 81, 35, 1);
    --red-60: rgba(248, 111, 73, 1);
    --red-70: rgba(250, 142, 112, 1);
    --red-80: rgba(251, 173, 152, 1);
    --red-90: rgba(253, 204, 191, 1);
    --red-95: rgba(254, 236, 230, 1);

    /* color red end */

    /* start alert */

    --infonmation: rgba(69, 137, 255, 1);
    --success: rgba(36, 161, 72, 1);
    --warning: rgba(249, 233, 89, 1);
    --error: rgba(218, 30, 40, 1);
    --wait: rgba(255, 151, 79, 1);
    --f: rgba(255, 151, 79, 1);
    --primary: rgba(34, 51, 119, 1);

    /* end alert */

    /* start text */

    --text-100: rgba(0, 0, 0, 1);
    --text-75: rgba(51, 51, 51, 1);
    --text-50: rgba(102, 102, 102, 1);
    --text-25: rgba(153, 153, 153, 1);
    --text-0: rgba(255, 255, 255, 1);

    /* end text */
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Be Vietnam Pro", sans-serif;
  }

  body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* header nav bar start  */

  .header-nav {
    border-left: 0;
    border-right: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 100000000px;
    max-height: calc(58px + (8px*2));
    padding: 8px 16px;
    display: flex;
    box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.24);
    background-color: white !important;
  }

  .container-header {
    padding: 0;
    height: 58px;
    background-color: white;
  }

  .navbar-custom {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .btn-header {
    width: calc((120px * 2) + 32px);
    display: flex;
    gap: 32px;
  }

  .navbar-link {
    padding: 0px !important;
  }

  .btn-navbar {
    min-width: 120px;
    height: 40px;
    padding: 12px 16px;
    background-color: white;
    color: #237DF7;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .light-check {
    background-color: #237DF7;
    color: white;
  }

  .light-check:hover {
    background-color: #237DF7 !important;
    color: white;
  }

  .btn-navbar:hover {
    padding: 6px 14px;
    background-color: #237DF7;
    color: white;
    border: 2px solid #237DF7;
  }

  .search-bar {
    box-sizing: border-box;
    width: 400px;
    height: 32px;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 50px;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
  }

  .search-bar .form-control {
    padding: 0 !important;
    border: none;
    box-shadow: none;
    font-size: 10px;
    line-height: 16px;
    color: rgba(153, 153, 153, 1);
  }

  .form-control::placeholder {
    color: rgba(153, 153, 153, 1);
    font-size: 10px;
    line-height: 16px;
  }

  .search-bar .btn {
    background: none;
    border: none;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar .btn:hover,
  .search-bar .btn:active,
  .search-bar .btn:focus {
    background-color: white !important;
    color: black !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .btn-search-icon {
    width: 12px;
    height: 12px;
  }

  .border-blue-1 {
    padding: 6px 14px;
    border: 2px solid #237DF7;
  }

  /* header nav bar end  */

  /* left slide bar start  */

  .slider-bar {
    width: 170px;
    max-width: 170px;
    height: 946px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-radius: 12px;
    justify-content: space-between;
  }

  .slide-bar-categories {
    height: 584px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 170px;
  }

  .btn-slide-bar {
    width: 170px;
    height: 44px;
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: 1px solid var(--Gray-gray-90, rgba(242, 242, 242, 1));
    text-decoration: none;
    align-items: center;
    color: var(--gray-100);
  }

  .btn-slide-bar .img {
    width: 24px;
    height: 24px;
  }

  .btn-slide-bar .btn {
    width: 100%;
    height: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-25);
    display: flex;
    align-items: center;
    padding: 0;
  }

  .main-container {
    display: flex;
    position: relative;
    gap: 10px;
    flex-direction: row;
    padding: 0px 32px;
    justify-content: space-between;
  }

  .home {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 12px;
    border: 2px solid rgba(35, 125, 247, 1);
  }

  .logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .btn-slide-bar .block {
    display: block;
  }

  .btn-slide-bar .none {
    display: none;
  }

  .btn-slide-bar:hover {
    background-color: rgba(35, 125, 247, 1);
  }

  .btn-slide-bar:active {
    background-color: rgb(3, 76, 179);

  }

  .btn-slide-bar:hover .block,
  .btn-slide-bar:active .block {
    display: none;
  }

  .btn-slide-bar:hover .none,
  .btn-slide-bar:active .none {
    display: block;
  }

  .btn-slide-bar:hover .btn,
  .btn-slide-bar:active .btn {
    color: var(--text-0);
  }

  .no-border{
    border: 0 !important; 
  }

  /* left slide bar end  */

  /* main content start  */

  .main-content {
    position: relative;
    top: 0;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* main content end  */

  /* slide bar right css  start*/

  .right-slide-bar {
    max-width: 385px;
    width: auto;
    position: sticky;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0 !important;
    padding-bottom: 10px !important;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    align-items: flex-start;
  }

  .right-slider-bar-container {
    height: auto;
    width: 374px;
    max-width: 384px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }

  .group-section {
    background-color: white;
    width: 374px;
    border-radius: 16px;
    padding: 10px 0px;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 4px 0px rgba(40, 41, 61, 0.04), 0px 8px 16px 0px rgba(96, 97, 112, 0.16);
  }

  .group-section-main {
    width: 374px;
    height: 288px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    padding-right: 4px;
    gap: 8px;
  }

  .group-section-main::-webkit-scrollbar {
    width: 5px;
    max-height: 100px;
  }

  .group-section-main::-webkit-scrollbar-track {
    background-color: white;
  }

  .group-section-main::-webkit-scrollbar-thumb {
    background-color: #B3B3B3;
    border-radius: 12px;
  }

  .group-section-main::-webkit-scrollbar-thumb:hover {
    background-color: #6c757d;
  }

  .header-slide-bar-right {
    height: 32px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group-title {
    width: auto;
    height: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    border: 0;
    border-radius: 0;
  }

  .group-title-hedding {
    padding: 0 !important;
    margin: 0 !important;
    width: auto;
    height: 32px;
    font-size: 24px !important;
    line-height: 32px;
    font-weight: 500 !important;
  }

  .group-title2 {
    width: auto;
    height: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    border: 0;
    border-radius: 0;
  }

  .peopleFill {
    width: 24px;
    max-width: 24px;
    height: 24px;
  }

  .see-all-link {
    width: auto !important;
    max-width: 120px !important;
    height: 24px !important;
    text-decoration: none;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
  }

  .see-all-link-div {
    width: auto !important;
    display: flex;
    align-items: center !important;
    height: 24px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    padding: 0;
    margin: 0;
  }

  .see-all-link-img {
    width: 16px !important;
    height: 16px !important;
  }

  .green {
    color: var(--success) !important;
  }

  .light-blue {
    color: var(--cyan-30) !important;
  }

  .blue {
    color: var(--blue-60) !important;
  }

  .see-all-link img {
    width: 16px;
    height: 16px;
  }

  .group-item {
    width: 360px;
    min-height: 88px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    box-shadow: 0px 0px 1px 0px rgba(40, 41, 61, 0.04), 0px 2px 4px 0px rgba(96, 97, 112, 0.16);
  }

  .avatar-slide-right-bar {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #24A148;
    padding: 2.4px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-slide-right-bar .avatar-container {
    background-color: #24A148;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .icon-avatar-container {
    color: white;
    width: 36px;
  }

  .icon-avatar-container2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }


  .nav-link {
    width: 264px;
    height: 44px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
  }

  .nav-link div {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
  }

  .nav-link small {
    width: 264px;
    height: 24px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .group-item small .mess-content-slide-bar {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    margin-left: 3px;
  }

  .head-event {
    width: 264px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .head-event div {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .head-event-name {
    width: auto !important;
    min-width: 81px;
    display: flex;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .head-event-teacher {
    max-width: 84px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .fill {
    color: rgba(102, 102, 102, 1);
  }

  .main-event {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-muted2 {
    width: 98px;
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    color: rgba(102, 102, 102, 1);
  }

  .text-muted2 .text-muted2-img {
    width: 14px;
    height: 14px;
  }

  .on {
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: rgba(99, 162, 247, 1);
    display: flex;
  }

  .off {
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    background-color: black;
    opacity: 20%;
    display: flex;
  }

  .nav-link2 {
    width: 266px;
    height: 76px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
  }

  .name-post {
    width: 266px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content-post {
    width: 266px !important;
    height: 48px !important;
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .avatar-slide-right-bar2 {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid rgba(99, 162, 247, 1);
    padding: 2.4px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-slide-right-bar2 .avatar-container {
    background-color: rgba(99, 162, 247, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }


  /* slide bar right css  end*/

  /* footer start  */

  footer {
    margin: 0 !important;
    padding: 0;
    display: flex;
    width: 100%;
  }

  .footer-container {
    max-width: 100%;
    height: 496px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding: 80px 32px;
    flex-direction: column;
    gap: 32px;
    margin: 0;
  }

  .footer-header {
    width: 100%;
    height: 218px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .footer-profile-left {
    /* width: 330px; */
    padding: 0px;
    height: 218px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .box-logo {
    width: 224px;
    height: 90px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .logo-footer {
    width: 162px;
    height: 58px;
  }

  .text-1 {
    width: auto;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .box-logo-content {
    width: 330px;
    height: 112px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .box-logo-content-text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 24px;
    color: black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .box-logo-content-img {
    width: 24px;
    height: 24px;
  }

  .footer-profile-right {
    /* width: 773px; */
    padding: 0;
    height: 195px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-profile-right-row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-about {
    padding: 0;
    width: auto;
    height: 157px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-h5-title {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    margin: 0;
    font-weight: 600;
  }

  .list-unstyled {
    max-width: 110px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
  }

  .list-unstyled-li {
    margin: 0;
    padding: 0;
    max-width: 110px;
    font-weight: 400;
    font-size: 14px;
    max-height: 18px;
  }

  .text-decoration-none {
    text-decoration: none;
    color: black;

  }

  .footer-support {
    width: auto;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
    padding: 0;
  }

  .footer-info {
    padding: 0;
    width: auto;
    height: 195px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-content {
    width: 350px;
    height: 160px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .footer-content-p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .footer-content-bdi {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    font-weight: 500;
  }

  .media-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .media-logo-link {
    margin: 0;
    width: 24px;
    height: 24px;
  }

  .media-logo-img {
    width: 24px;
    height: 24px;
  }

  .copyright {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copyright-content {
    width: 202px;
    height: 30px;
  }

  .copyright-content p {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: "DM Sans";
    font-feature-settings: 'liga' off, 'clig' off;
    color:
      rgba(111, 108, 144, 1);
  }

  .copyright-service {
    width: auto;
    min-width: 417px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .service {
    width: auto;
    max-height: 24px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(111, 108, 144, 1);
  }

  .text-blue {
    color: rgba(35, 125, 247, 1);
  }

  /* footer end */

  /* start btn */

  .btn-s {
    display: inline-flex;
    flex-direction: column-reverse;
    height: 40px !important;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    flex-direction: row;
    border: 0;
  }

  .btn-m {
    display: inline-flex;
    height: 48px !important;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    flex-direction: row;
    border: 0;
  }

/* secondery  */

  .btn-secondery {
    width: 198px;
    min-width: 120px;
    display: inline-flex;
    flex-direction: row;
    border: 0;
  }

  .btn-secondery .btn-default {
    background-color: var(--cyan-30);
    width: 198px;
    min-width: 198px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-secondery .btn-default .left-icon-container .icon-left,
  .btn-secondery .btn-default .right-icon-container .icon-right {
    color: var(--text-0);
    width: 24px;
    height: 24px;
  }

  .btn-secondery .btn-default .btn-title {
    color: var(--text-0) !important;
    font-size: 15.8px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
  }

  .btn-secondery .btn-hover {
    background-color: var(--gray-100);
    width: 198px;
    min-width: 198px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    outline: 1px solid var(--cyan-30);
    outline-offset: -1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-secondery .btn-hover .left-icon-container .icon-left path,
  .btn-secondery .btn-hover .right-icon-container .icon-right path {
    stroke: var(--cyan-30) !important;
    width: 24px;
    height: 24px;
  }

  .btn-secondery .btn-hover .btn-title {
    color: var(--cyan-30) !important;
    font-size: 15.8px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
  }

  .btn-secondery .btn-no-border {
    background-color: var(--gray-100);
    width: 198px;
    min-width: 198px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-secondery .btn-no-border .left-icon-container .icon-left path,
  .btn-secondery .btn-no-border .right-icon-container .icon-right path {
    stroke: var(--cyan-30) !important;
    width: 24px;
    height: 24px;
  }

  .btn-secondery .btn-no-border .btn-title {
    color: var(--cyan-30) !important;
    font-size: 15.8px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
  }

  .btn-secondery .btn-disable {
    background-color: var(--gray-100);
    width: 198px;
    min-width: 198px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: none;
    pointer-events: none;   
  }

  .btn-secondery .btn-disable .left-icon-container .icon-left path{
    stroke: var(--text-25) !important;
    width: 24px;
    height: 24px;
  }
  .btn-secondery .btn-disable .right-icon-container .icon-right path {
    stroke: var(--cyan-30) !important;
    width: 24px;
    height: 24px;
  }

  .btn-secondery .btn-disable .btn-title {
    color: var(--text-25) !important;
    font-size: 15.8px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
  }

/* premary  */

.btn-premary {
  width: 198px;
  min-width: 120px;
  display: inline-flex;
  flex-direction: row;
  border: 0;
}

.btn-premary .btn-default {
  background-color: var(--blue-50);
  width: 198px;
  min-width: 198px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-premary .btn-default .left-icon-container .icon-left,
.btn-premary .btn-default .right-icon-container .icon-right {
  color: var(--text-0);
  width: 24px;
  height: 24px;
}

.btn-premary .btn-default .btn-title {
  color: var(--text-0) !important;
  font-size: 15.8px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}

.btn-premary .btn-hover {
  background-color: var(--gray-100);
  width: 198px;
  min-width: 198px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 16px;
  outline: 1px solid var(--blue-50);
  outline-offset: -1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-premary .btn-hover .left-icon-container .icon-left path,
.btn-premary .btn-hover .right-icon-container .icon-right path {
  stroke: var(--blue-50) !important;
  width: 24px;
  height: 24px;
}

.btn-premary .btn-hover .btn-title {
  color: var(--blue-50) !important;
  font-size: 15.8px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}

.btn-premary .btn-no-border {
  background-color: var(--gray-100);
  width: 198px;
  min-width: 198px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-premary .btn-no-border .left-icon-container .icon-left path,
.btn-premary .btn-no-border .right-icon-container .icon-right path {
  stroke: var(--blue-50) !important;
  width: 24px;
  height: 24px;
}

.btn-premary .btn-no-border .btn-title {
  color: var(--blue-50) !important;
  font-size: 15.8px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}

.btn-premary .btn-disable {
  background-color: var(--gray-80);
  width: 198px;
  min-width: 198px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 8px;
  padding: 12px 16px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: none;
  pointer-events: none;   
}

.btn-premary .btn-disable .left-icon-container .icon-left path{
  stroke: var(--text-0) !important;
  width: 24px;
  height: 24px;
}
.btn-premary .btn-disable .right-icon-container .icon-right path {
  stroke: var(--text-0) !important;
  width: 24px;
  height: 24px;
}

.btn-premary .btn-disable .btn-title {
  color: var(--text-0) !important;
  font-size: 15.8px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}



  /* end btn */