.header-add{
padding: 25px 32px;
font-size: 34px;
font-weight: 500;
line-height: 42px;
left: -2%;
}
.body-add{
    padding: 25px 32px;
   
    
    
}
.wapper{
background-color:#FFFFFF ;
width: 1137px;
height: 812px;
display: flex;
justify-content: center;
padding: 32px;

}
.top-wapper{
    gap:10px;
    width: 360px;
    height: 84px;
   

}