.container {
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    width: 179px;
    height: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0 !important;
    color: rgba(35, 125, 247, 1);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 28px;
}

.searchBar {
    display: flex;
    width: 250px;
    height: 28px;
    border: 1px solid #ddd;
    padding: 6px, 12px;
    border-radius: 50px;
    text-align: center;
}

.searchInput {
    padding: 0.375rem 0.75rem;
    font-size: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 300px;
    border: none;
    box-shadow: none;
    line-height: 16px;
}

.searchButton {
    border-radius: 50px;
    margin-left: 0.5rem;
    background: none;
    border: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.searchButton:hover {
    border-radius: 50px;
    margin-left: 0.5rem;
    background: none;
    border: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #ddd;
    background-color: black;
}

.searchInput:focus {
    outline: none;
    box-shadow: none;
}

.control {
    width: 86px;
    height: 28px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    gap: 14px;
    box-sizing: border-box;
    border: 0.5px solid rgba(35, 125, 247, 1);
}

.controlElement1 {
    width: 60%;
    box-sizing: border-box;
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-right: 0.5px solid rgba(35, 125, 247, 1)
}

.controlElement1 img {
    width: 12px;
    height: 12px;
}

.controlElement2 {
    width: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 768px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 10px;
}

.box {
    width: 245px;
    height: 244px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32) inset;
    z-index: 10px;
}

.headMain {
    background: linear-gradient(107.66deg, #063B42 2.8%, #0F96A8 98%),
        linear-gradient(252.45deg, rgba(0, 0, 0, 0) 2.14%, rgba(6, 59, 66, 0.2) 100%);
    width: 245px;
    height: 132px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 16px;
    position: relative;
    box-shadow: 0px 0px 2px 0px rgba(40, 41, 61, 0.04);
}

.text {
    width: 145px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hedding2 {
    width: 145px;
    height: 48px;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: white;
    padding: 0;
    margin: 0;
}

.hedding3 {
    width: 145px;
    height: 24px;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: rgba(219, 219, 219, 1);
    padding: 0;
    margin: 0;
}

.text img {
    width: 24px;
    height: 24px;
}

.avt {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {
    position: relative;
    width: 245px;
    height: 112px;
    padding: 4px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-sizing: border-box;
    z-index:1px;
}

.headContent {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.evaluete {
    width: 103px;
    height: 32px;
}

.star {
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    gap: 5;
}

.star img {
    width: 12px;
    height: 12px;
}

.star div {
    width: 30px;
    height: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: rgba(153, 153, 153, 1);
}

.note {
    width: 100%;
    height: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
    color: rgba(153, 153, 153, 1);
}

.percent {
    width: 47px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    /* background-color: rgba(153, 153, 153, 1); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.imgWrap {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden;  */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.imgWrap::after {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(from 0deg, rgba(219, 219, 219, 1), #237DF7 40%, transparent 40%);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 2px), #fff calc(100% - 2p x + 1px));
    mask: radial-gradient(farthest-side, transparent calc(100% - 2px), #fff calc(100% - 2px + 1px));
    z-index: 1;
}

.imgNumber {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(219, 219, 219, 1);
    font-size: 8px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.name {
    width: 100%;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}

.bodyContent {
    width: 225px;
    height: 54px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contentElement {
    width: 69.67px;
    height: 54px;
    padding: 4px 0px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Gray-gray-95, rgba(250, 250, 250, 1));
    box-shadow: 0px 0.5px 2px 0px rgba(96, 97, 112, 0.16);
}

.contentElement img {
    width: 30px;
    height: 30px;
}

.contentElement p {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 16px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
}