.container {
    width: 1200px;
    padding: 80px 40px;
    min-height: calc(100vh - 100px);
    background-color: var(--cyan-50);
    border-radius: 36px;
}

.header {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
}

.subTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--blue-50);
}

.body {
    display: flex;
    align-items: center;
}

.imgLeft {
    width: 400px;
    height: 600px;
}

.formRegister {
    max-width: 500px;
    max-width: 600px;
    padding: 32px;
    background-color: var(--gray-100);
    width: 100%;
    border-radius: 16px;
    pointer-events: all;
}

.fieldsetLogin {
    text-align: center;
}

.fieldsetLogin__title {
    font-size: 2.125rem;
    font-weight: 500;
    color: var(--cyan-40);
    margin-bottom: 8px;
}

.fieldsetLogin__subTitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-50);
    margin-bottom: 18px;
}

.formControlRegister__label,
.note {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-25);
    margin-bottom: 4px;
}

.note {
    margin-top: 12px;
}

.formControlRegister__input {
    border-radius: 12px;
    padding: 16px 29px;
    margin-bottom: 16px;
}

.formControlRegister__input__text {
    border-radius: 12px;
    padding: 16px 29px;
    margin-bottom: 16px;
    margin-top: 16px;
    min-height: 50px;
}

.btn__submit {
    width: 100%;
    padding: 16px;
    border-radius: 32px;
    background-color: var(--cyan-40);
    border: none;
    outline: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--text-0);
    line-height: 32px;
    margin-top: 32px;
}