.container {
    display: flex;
    min-height: calc(100vh - 68px);

    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1;
}

.fixed {
    width: 21.67%;
}

.flexGrow {
    overflow-y: auto;

}





/* Video */



.Video {
    background-color: var(--gray-00);
    padding: 0px 64px;
    height: calc(100% - 100px);
}

.body {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 24px 64px;
    gap: 24px;
}

.bodyTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}


.timeUpdate {
    color: var(--text-50);
    font-size: 0.625rem;
    font-weight: 400;
}

.titleCourse {
    margin-top: 8px;
    color: var(--text-100);
    font-size: 1.25rem;
    font-weight: 600;
}



.content {
    font-size: 1rem;
    font-weight: 400;
    column-gap: 12px;
}

.actionBar {
    height: auto;
    width: 100%;
    background-color: transparent;
    padding: 4px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq {
    cursor: pointer;
}

.faq:hover svg path,
.faq:hover svg circle {
    /* stroke: var(--blue-80); */
    /* Màu stroke mới khi hover */
    fill: var(--blue-90);
    /* Màu fill mới cho các phần tử có fill (ví dụ như circle nhỏ) */
}

.ctaNextPev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cateSec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.iconCatesec {
    padding: 8px;
    background-color: var(--blue-95);
    border-radius: 50%;

    cursor: pointer;

}

.listContainer {
    margin: 20px;
}

.listItem {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.listTitle {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
}

.subList {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: circle;
}

.subList li {
    padding: 5px 0;
}