@import url('../root.css');

.main {
    width: 100%;
    height: 966px;
    display: flex;
    padding: 40px 32px;
    justify-content: center;
    align-items: center;
}

.form {
    width: 690px;
    height: auto;
    border-radius: 16px;
    padding: 32px 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 0.5px 4px 0px rgba(96, 97, 112, 0.32);
    background-color: #FFF;
    margin: 0;
}

.headerRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
    margin: 0;
    border: 0;
    background: white;
}

.headerRegister__title {
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: -0.68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkLogin {
    width: 100%;
    display: flex;
    color: var(--gray-20);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 2px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link__bdi {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    color: var(--gray-40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodyRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.formRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.validateRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formControlRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.formControlRegister__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: Poppins;
    color: var(--gray-40);
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    margin: 0;
    padding: 0;
}

.formControlRegister__input {
    width: 100%;
    min-height: 56px;
    max-height: 56px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formControlRegister__input:focus {
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.35);
}

.checkPass {
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-between;
    color: var(--gray-40);
    font-size: 16px;
    font-weight: 400;
}

.checkPass__btn {
    width: auto;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: white;
}

.checkPass__btn:hover,
.checkPass__btn:active,
.checkPass__btn:focus {
    background-color: white !important;
}

.checkPass__img {
    width: 24px;
    height: 24px;
}

.checkPass__text {
    height: 27px;
    color: var(--gray-40);
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 27px;
}

.noteRegister {
    height: 24px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-40);
}

.rememberRegister {
    width: 100%;
    height: 64px;
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    background-color: white;
}

.rememberRegister:hover,
.rememberRegister:active,
.rememberRegister:focus {
    background-color: white !important;
}

.rememberRegister__img {
    width: 24px;
    height: 24px;
}

.rememberRegister__div {
    height: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--text-100);
}


.btnSubmit {
    width: 100%;
    height: auto;
    border-radius: 32px;
    padding: 16px 0px;
    border: 0;
    background-color: var(--gray-60);
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: "Be Vietnam Pro";
}

.btnSubmit:hover {
    background-color: rgba(35, 125, 247, 1);
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.35);
    outline: none;
}

.btnSubmit:active {
    background-color: rgb(10, 98, 222);
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.35);
    outline: none;
}

.withRegister {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px !important;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 0;
    padding: 0;
}

.headWithRegister {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    color: var(--gray-60);
    align-items: center;
    justify-content: center;
}

.RegisterMedia {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.RegisterMedia__btn {
    border-radius: 999px;
    width: 166px;
    height: 56px;
    padding: 16px 0px;
    border: 1px solid rgba(102, 102, 102, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}

.RegisterMedia__img {
    width: 24px;
    height: 24px;
}

.RegisterMedia__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-100);
}

.RegisterMedia__btn:active,
.RegisterMedia__btn:hover,
.RegisterMedia__btn:focus {
    background-color: white !important;
}


.feedBack {
    margin: 0;
    padding: 0;
}