.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_add {
    padding: 25px 32px;
    font-size: 2.125rem;
    font-weight: 500;
    line-height: 42px;
    left: -2%;
}

.body_add {
    padding: 25px 32px;
}

.btnbaihoc {
    width: 94px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--blue-50);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-right: 4.5rem;
}

.btnbaitap {
    width: 274px;
    height: 64px;
    border-radius: 12px;
    background-color: var(--gray-100);
    color: #438FF7;
    margin-top: 12px;
    margin-right: 10px;
}

.wapper {
    background-color: var(--gray-100);
    width: 1137px;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.wapper_body {
    width: 752px;
    height: auto;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.thatep {
    width: 752px;
    height: 304px;
    border: 1px dashed black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.thatep1 {
    display: block;
    text-align: center;
}

.thatep1 img {
    width: 48px;
    height: 48px;
}

.phangiua {
    margin: 24px;
}

.chon1tep {
    font-size: 0.875rem;
    font-weight: 500;
}

.ghichuhinh {
    font-size: 0.625rem;
    font-weight: 400;
    color: #999999;
}

.bnthem {
    height: 48px;
    width: 76px;
    background-color: var(--gray-100);
    color: #1958AD;
}

.formnhap {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.bentrong {
    display: flex;
    flex-direction: column;
    max-width: 49%;
    min-width: 49%;
    position: relative;
    justify-content: start;
}

.selectne {
    position: relative;
    width: 360px;
}

.inputne {
    margin-top: 10px;
    width: 360px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #F2F2F2;
    margin-bottom: 12px;
    outline: none;
    padding-left: 12px;
    appearance: none;
    -webkit-appearance: none;
    align-self: stretch;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.custom-file-upload::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: 0 8px;
}


.selectne img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 16px;
    height: auto;
}

.inputne1 {
    margin-top: 10px;
    width: 360px;
    height: auto;
    border: none;
    border-radius: 8px;
    background: #F2F2F2;
    margin-bottom: 12px;
    outline: none;
    padding: 12px;
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
}

.nutheader {
    padding-left: 32px;
}

.inputne::before {
    content: "Chọn file";
    display: inline-block;
    padding: 10px 15px;
    color: black;
    font-size: 1rem;
    pointer-events: none;
}

.inputne::file-selector-button {
    display: none;
}

.btn__group {}

.chonutragiua {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 32px;
}

.btnthemvao {
    width: 84px;
    height: 48px;
    border-radius: 12px;
    margin-left: auto;
    background-color: var(--gray-90);
    border: none;
    margin-top: 12px;
    padding: 8px 24px;
    gap: 10px;
    color: var(--text-50);
}

.btnthemvao1 {
    width: 84px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--blue-50);
    border: none;
    margin-top: 12px;
    padding: 8px 24px;
    gap: 10px;
}

.bentrong_container {
    position: relative;
    width: 100%;
    height: 137px;
}

.input__100 {
    width: 350px;
    height: 40px;
    background-color: var(--gray-100);
    position: absolute;
    z-index: 10;
    border-bottom: 0.2px solid gray;
    top: 0;
}

.quest {
    position: relative;
    z-index: 11;
    width: 360px;
    margin-bottom: 12px;
    top: 0;
}

.ckeditor {
    top: 0;
    position: absolute;
    margin-bottom: 30px;
}

.btnCode {
    margin-top: 20px;
    border-right: 2px solid var(--blue-50);
    border-top: 2px solid var(--blue-50);
    border-left: 2px solid var(--blue-50);
    border-bottom: 1px solid var(--gray-70);
    padding: 4px 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-75);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btnCodeDsb {
    margin-top: 20px;
    border-right: 2px solid var(--gray-70);
    border-top: 2px solid var(--gray-70);
    border-left: 2px solid var(--gray-70);
    border-bottom: 1px solid var(--gray-70);
    padding: 4px 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 24px;
    color: var(--text-25);
    background-color: var(--gray-90);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.errorText {
    position: relative;
    bottom: 0;
}

.btnAddQuest {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.addQuest {
    padding: 8px;
    border: 0.3px solid var(--gray-70);
    border-radius: 5px;
}

.addQuest:hover {
    background-color: var(--gray-90);
    border: 0.3px solid var(--gray-50);
}

.addQuest:active {
    background-color: var(--gray-70);
    border: 0.3px solid var(--gray-50);
}

.btn__addQuest {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.addQuestDisable {
    border: 0.3px solid var(--gray-70);
    opacity: 0.5;
    padding: 8px;
    pointer-events: none;
    border-radius: 5px;
}